matplotlib<=3.10.6
matplotlib-inline<=0.1.7
numba<=0.62.1
numpy<=2.2.6
pandas<=2.3.3
PyMySQL<=1.1.2
streamlit<=1.50.0
statsforecast<=2.0.2
statsmodels<=0.14.5
supabase<=2.22.0
supabase-auth<=2.22.0
supabase-functions<=2.22.0
